:root {
  --logo_text-color: #0CB3CC;
}
body, input, button {
  font-family: 'Gochi Hand', cursive;
  background-color: rgba(30,144,255,.1);
}
a {
  color: inherit;
}
.text-link {
  text-decoration: underline;
  cursor: pointer;
}
.text-error {
  color: red;
}
.text-info {
  color: green;
}

/*===========*/
/*WELCOME*/
/*===========*/
.welcome {
  width: 95%;
  margin: 2em auto;
}
.welcome .social_logo {}
.welcome .social_logo-img {
  display: block;
  width: 50%;
  margin: 0 auto;
}
.welcome-title {
  color: var(--logo_text-color);
  text-align: center;
  font-size: 3em;
  margin: .5em;
}
.welcome-intro {
  text-align: center;
}
.welcome-community {
  font-size: 1.3em;
}
.welcome-link {}

.form {
  text-align: center;
}
.form-field {}
.form-field-title {
  margin: .5em;
}
.form-field-input {
  border: 3px solid var(--logo_text-color);
  border-radius: 2em;
  padding: .6em;
}
.form-submit_btn {
  color: green;
  border: none;
  background-color: inherit;
  font-size: 1.3em;
  text-decoration: underline;
  margin: 1em;
}
.form-submit_btn img {
  display: inline;
  height: 50px;
  vertical-align: middle;
}

/*===========*/
/*NAV*/
/*===========*/
.nav {
  background-color: green;
}
.nav .social_logo {}
.nav .social_logo-img {}
.nav-user {
  width: 10%;
}

.uploader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,.3);
}
.uploader-container {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  padding: 2em;
  border: 5px solid orange;
  border-radius: 1em;
  background-color: yellow;
}
/*#file-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
#file-input + label {
  font-size: 1.25em;
  background-color: red;
  display: inline-block;
  border: 2px solid black;
  padding: .3em 1em;
  margin: 1.5em;
  border-radius: 5px;
}*/
