/*from Friends.js component*/
.small-deleteme {
  width: 50px;
}

:root {
  --logo_text-color: #0CB3CC;
  --nav-main-height: 50px;
  --nav-main-elems-height: 40px;
}
body, input, button, img {
  box-sizing: border-box;
  font-family: 'Gochi Hand', cursive;
  background-color: rgba(30,144,255,.1);
}
body, .nav-main, .bio-input {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
ul,li {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
.text-link {
  text-decoration: underline;
  cursor: pointer;
}
.text-error {
  color: red;
}
.text-info {
  color: green;
}
.background-error {
  background-color: red;
}
.background-info {
  background-color: green;
}
.container-margin {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.container-padding {
  padding-left: 5%;
  padding-right: 5%;
}


/*===========*/
/*WELCOME*/
/*===========*/
.welcome {
  margin-top: 2em;
  margin-bottom: 2em;
}
.welcome .social_logo {}
.welcome .social_logo-img {
  display: block;
  width: 50%;
  margin: 0 auto;
}
.welcome-title {
  color: var(--logo_text-color);
  text-align: center;
  font-size: 3em;
  margin: .5em;
}
.welcome-intro {
  text-align: center;
}
.welcome-community {
  font-size: 1.3em;
}
.welcome-link {}

.form {
  text-align: center;
}
.form-field {}
.form-field-title {
  margin: .5em;
}
.form-field-input {
  border: 3px solid var(--logo_text-color);
  border-radius: 2em;
  padding: .6em;
}
.form-submit_btn {
  color: green;
  border: none;
  background-color: inherit;
  font-size: 1.3em;
  text-decoration: underline;
  margin: 1em;
}
.form-submit_btn img {
  display: inline;
  height: 50px;
  vertical-align: middle;
}


/*===========*/
/*APP*/
/*===========*/
.main-content {
  margin-top: calc(var(--nav-main-height)*2);
}


/*===========*/
/*NAV*/
/*===========*/
.nav {
}
.nav-main {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(95,146,255,.6);
  height: var(--nav-main-height);
}
.nav .social_logo {
  display: inline;
}
.nav .social_logo-img {
  height: var(--nav-main-elems-height);
  vertical-align: bottom;
}
.nav-social_title {
  display: inline;
  color: var(--logo_text-color);
  margin: .4em;
  font-size: 2.2em;
}
.nav .user_pic {
  position: relative;
  overflow: hidden;
  width: var(--nav-main-elems-height);
  height: var(--nav-main-elems-height);
  border-radius: 50%;
  border: 2px solid coral;
}
.nav .user_pic-img {
  position: absolute;
  margin: auto;
  height: 100%;
}
.nav-sub {
  position: fixed;
  width: 100%;
  top: var(--nav-main-height);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(4,47,116,.6);
  color: white;
  height: var(--nav-main-height);
}
.nav-sub-link {
  text-align: center;
}
.nav-sub-link i {}
.nav-sub-link h5 {
  margin: 0;
}


/*===========*/
/*IMAGE UPLOADER MODAL*/
/*===========*/
.uploader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,.3);
}
.uploader-container {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  padding: 2em;
  border: 5px solid orange;
  border-radius: 1em;
  background-color: yellow;
}


/*===========*/
/*PROFILE*/
/*===========*/
.profile {
  text-align: center;
}
.profile-name {
  margin: 0;
  padding: .5em;
}
.profile .user_pic {}
.profile .user_pic-img {
  width: 100%;
}
.bio {
  margin-top: 2em;
  font-family: 'Caveat', cursive;
  font-size: 1.3em;
  border-top: 2px solid black;
}
.bio-text {
  width: 85%;
  margin: 0 auto;
}
.bio .text-link {
  display: block;
  margin: .5em;
}
.bio-input {
  display: block;
  margin: 1em auto .5em;
  width: 85%;
  background-color: #fff;
  background-image: linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
  resize: none;
  text-align: center;
  font-family: 'Caveat', cursive;
  border: 3px solid var(--logo_text-color);
  border-radius: .5em;
}
.bio-button {
  border: 3px solid var(--logo_text-color);
  padding: .5em;
  margin: 0 1em;
  background-color: white;
  color: var(--logo_text-color);
  border-radius: 1em;
}


/*===========*/
/*OTHERS PROFILE (same styling as 'PROFILE')*/
/*===========*/
.others {
  text-align: center;
}
.others .user_pic {}
.others .user_pic-img {
  width: 100%;
}



/*===========*/
/*SEARCHED FRIENDS*/
/*===========*/
.srced_friends {}
.srced_friends-item {
  border-bottom: 1px solid coral;
  padding: 1em 0;
}
.srced_friends-item img {
  width: 15%;
  border-radius: 1em .3em;
  border: 2px solid coral;
  vertical-align: bottom;
}
.srced_friends-item-text {
  width: 75%;
  display: inline-block;
  padding: 0 5%;
}
.srced_friends-item-name {
  margin: 0;
}
.srced_friends-item-bio {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



/*===========*/
/*FRIENDS*/
/*===========*/
.friends {
  text-align: center;
  margin-top: 2em;
}
.friends-title {
  margin: 0;
}
.friends-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2em;
}
.friends-item {
  width: 200px;
}
.friends-item-name {
  margin: .5em;
  text-decoration: underline;
  font-size: 1.3em;
}
.friends-item-pic {
  position: relative;
  margin-bottom: 60px;
}
.friends-item img {
  width: 100px;
  height: 100px;
  border-top-left-radius: 1em;
}
.friends-item_pending img {
  border: 2px solid red;
}
.friends-item_current img {
  border: 2px solid green;
}
.friends-item button {
  position: absolute;
  top: 100px;
  left: 50px;
  width: 100px;
  border: none;
  color: white;
  border-bottom-right-radius: 1em;
}
.friends-item_pending button {
  background-color: red;
}
.friends-item_current button {
  background-color: green;
}

@media screen and (min-width: 768px){
  :root {
    --nav-main-height: 80px;
    --nav-main-elems-height: 65px;
  }
  .container-margin {
    width: 85%;
  }
  .container-padding {
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
  .welcome {
    font-size: 1.8em;
  }
  .welcome .social_logo-img {
    width: 30%;
  }
  .form-field-input {
    width: 40%;
  }
  .form-submit_btn img {
    height: 100px;
  }

  .nav-sub {
    position: fixed;
    flex-direction: column;
    height: 100%;
    width: var(--nav-main-height);
  }
  .main-content {
    margin-top: var(--nav-main-height);
    margin-left: var(--nav-main-height);
  }
}

@media screen and (min-width: 1024px){
  .container-margin {
    width: 75%;
  }
  .container-padding {
    padding-left: 12.5%;
    padding-right: 12.5%;
  }
  .welcome {
    text-align: center;
    font-size: 2.2em;
  }
  .welcome div.social_logo {
    display: inline;
  }
  .welcome img.social_logo-img {
    display: inline;
    vertical-align: bottom;
  }
  .welcome-title {
    display: inline;
  }
  .form-field-input {
    font-size: .6em;
  }
}
