/*from Friends.js component*/
.small-deleteme {
  width: 50px;
}

:root {
  --logo_text-color: #0CB3CC;
  --nav_sub-color: #5F7DAC;
  --blue-color: rgb(4,47,116);
  --nav-main-height: 60px;
  --nav-main-elems-height: 45px;
}
body, input, button, img {
  box-sizing: border-box;
  font-family: 'Gochi Hand', cursive;
  background-color: rgba(30,144,255,.1);
}
body, .nav-main, .bio-input {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
ul,li {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
.text-link {
  text-decoration: underline;
  cursor: pointer;
}
.text-error {
  color: red;
}
.text-info {
  color: green;
}
.background-error {
  background-color: red;
}
.background-info {
  background-color: green;
}
.container-margin {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.container-padding {
  padding-left: 5%;
  padding-right: 5%;
}


/*===========*/
/*WELCOME*/
/*===========*/
.welcome {
  margin-top: 2em;
  margin-bottom: 2em;
}
.welcome .social_logo {}
.welcome .social_logo-img {
  background-color: transparent;
  display: block;
  width: 50%;
  margin: 0 auto;
}
.welcome-title {
  color: var(--logo_text-color);
  text-align: center;
  font-size: 3em;
  margin: .5em;
}
.welcome-intro {
  text-align: center;
}
.welcome-community {
  font-size: 1.3em;
}
.welcome-link {}

.form {
  text-align: center;
}
.form-field {}
.form-field-title {
  margin: .5em;
}
.form-field-input {
  border: 3px solid var(--logo_text-color);
  border-radius: 2em;
  padding: .6em;
}
.form-submit_btn {
  color: green;
  border: none;
  background-color: inherit;
  font-size: 1.3em;
  text-decoration: underline;
  margin: 1em;
}
.form-submit_btn img {
  display: inline;
  height: 50px;
  vertical-align: middle;
}


/*===========*/
/*APP*/
/*===========*/
.main-content {
  margin-top: calc(var(--nav-main-height)*2);
}


/*===========*/
/*NAV*/
/*===========*/
.nav {
}
.nav-main {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #96B9FF;
  height: var(--nav-main-height);
  z-index: 10;
}
  .nav .social_logo {
    display: inline;
  }
  .nav .social_logo-img {
    height: var(--nav-main-elems-height);
    vertical-align: middle;
  }
  .nav-social_title {
    display: none;
    color: var(--logo_text-color);
    margin-left: .4em;
    margin-right: -1em;
    font-size: 2.2em;
  }
  .nav-search {}
  .nav-search input {
    width: 150px;
    height: 2em;
    background-color: white;
    border: 2px solid var(--blue-color);
    border-bottom-left-radius: .5em;
    border-top-left-radius: .5em;
    vertical-align: bottom;
    padding: 0 .4em;
  }
  .nav-search button {
    height: 2em;
    width: 2em;
    color: white;
    border: 2px solid var(--blue-color);
    background-color: var(--blue-color);
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
  }
  .nav .user_pic {
    position: relative;
    overflow: hidden;
    width: var(--nav-main-elems-height);
    height: var(--nav-main-elems-height);
    border-radius: 50%;
    border: 2px solid var(--blue-color);
  }
  .nav .user_pic-img {
    position: absolute;
    margin: auto;
    height: 100%;
  }
.nav-sub {
  position: fixed;
  z-index: 10;
  width: 100%;
  top: var(--nav-main-height);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--nav_sub-color);
  color: white;
  height: var(--nav-main-height);
}
  .nav-sub-link {
    text-align: center;
  }
  .nav-sub-link i {}
  .nav-sub-link h5 {
    margin: 0;
  }


/*===========*/
/*IMAGE UPLOADER MODAL*/
/*===========*/
.uploader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,.3);
}
.uploader-container {
  position: absolute;
  top: 25%;
  left: 50%;
  z-index: 11;
  width: 75%;
  transform: translateX(-50%);
  padding: 1em;
  border: 3px solid coral;
  border-radius: .5em;
  background-color: white;
  text-align: center;
}
.uploader-title {
  color: grey;
}
.uploader-close_button {
  margin: 0 0 0 auto;
  width: 1em;
  height: 1em;
  text-align: center;
  border-radius: 50%;
  border: 2px solid red;
}
#file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
#file-input + label {
  font-size: 1.5em;
  font-weight: bold;
  background-color: white;
  display: inline-block;
  cursor: pointer;
  color: var(--logo_text-color);
  border: 2px solid var(--logo_text-color);
  border-radius: .3em;
  padding: .3em .5em;
}

#file-input:focus + label,
#file-input + label:hover {
  background-color: red;
}

/*===========*/
/*PROFILE*/
/*===========*/
.profile {
  text-align: center;
}
.profile-name {
  margin: 0;
  padding: .5em;
}
.profile .user_pic {}
.profile .user_pic-img {
  width: 100%;
}
.bio {
  margin-top: 2em;
  font-family: 'Caveat', cursive;
  font-size: 1.3em;
  border-top: 2px solid black;
}
.bio-text {
  width: 85%;
  margin: 0 auto;
}
.bio .text-link {
  display: block;
  margin: .5em;
}
.bio-input {
  display: block;
  margin: 1em auto .5em;
  width: 85%;
  background-color: #fff;
  background-image: linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
  resize: none;
  text-align: center;
  font-family: 'Caveat', cursive;
  border: 3px solid var(--logo_text-color);
  border-radius: .5em;
}
.bio-button {
  border: 3px solid var(--logo_text-color);
  padding: .5em;
  margin: 0 1em;
  background-color: white;
  color: var(--logo_text-color);
  border-radius: 1em;
}


/*===========*/
/*OTHERS PROFILE (same styling as 'PROFILE')*/
/*===========*/
.others {
  text-align: center;
}
.others .user_pic {}
.others .user_pic-img {
  width: 100%;
}



/*===========*/
/*SEARCHED FRIENDS*/
/*===========*/
.srced_friends {}
.srced_friends-item {
  border-bottom: 1px solid var(--blue-color);
  padding: 1em 0;
}
.srced_friends-item img {
  width: 15%;
  border-radius: 1em .3em;
  border: 2px solid var(--blue-color);
  vertical-align: bottom;
}
.srced_friends-item-text {
  width: 75%;
  display: inline-block;
  padding: 0 5%;
}
.srced_friends-item-name {
  margin: 0;
}
.srced_friends-item-bio {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



/*===========*/
/*FRIENDS*/
/*===========*/
.friends {
  text-align: center;
  margin-top: 2em;
}
.friends-title {
  margin: 0;
  padding: 1em;
}
.friends-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2em;
}
.friends-item {
  width: 200px;
}
.friends-item-name {
  margin: .5em;
  text-decoration: underline;
  font-size: 1.3em;
}
.friends-item-pic {
  position: relative;
  margin-bottom: 60px;
}
.friends-item img {
  width: 100px;
  height: 100px;
  border-top-left-radius: 1em;
}
.friends-item_pending img {
  border: 2px solid red;
}
.friends-item_current img {
  border: 2px solid green;
}
.friends-item button {
  position: absolute;
  top: 100px;
  left: 50px;
  width: 100px;
  border: none;
  color: white;
  border-bottom-right-radius: 1em;
}
.friends-item_pending button {
  background-color: red;
}
.friends-item_current button {
  background-color: green;
}


/*===========*/
/*CHAT*/
/*===========*/
.chat {}
  .chat h1 {
    text-align: center;
    margin: 0;
    padding: 1em;
  }
.chat-create {}
.chat ul {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Reenie Beanie', cursive;
}
  .post {
    flex: 1 40%;
    text-align: center;
    margin: 5%;
    background-color: #ffc;
    box-shadow: 10px 17px 28px -6px rgba(0,0,0,0.75);
    position: relative;
  }
  .post:nth-child(even) {
    top:5px;
    transform: rotate(4deg);
  }
  .post:nth-child(3n) {
    top:-5px;
    transform: rotate(-3deg);
  }
  .post:nth-child(5n) {
    top:-10px;
    transform: rotate(5deg);
  }
  .post:hover, .post:focus {
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.25);
    z-index: 2
  }
    .post-name {
      margin: 0;
      text-decoration: underline;
    }
    .post img {}
    .post-text {
      margin: 2em;
    }
    .post-timestamp {
      margin: 0;
      position: absolute;
      bottom: 0;
      right: 0;
    }



/*===========*/
/*ONLINE*/
/*===========*/
.online {}
.online h1 {
  text-align: center;
  padding: .5em;
  margin: 0;
}
.online ul {
  margin: 1em 0;
}
  .online li {
    display: flex;
    align-items: center;
    margin-bottom: 1.5em;
  }
    .online img {
      width: 50px;
      height: 50px;
      vertical-align: middle;
      border: 2px solid var(--logo_text-color);
      border-radius: .5em;
    }
    .online-name {
      display: inline;
      font-weight: normal;
      margin: .4em;
    }
    .online-notification {
      display: inline-block;
      width: 10px;
      height: 10px;
      background-color: green;
      border-radius: 50%;
    }
    .online li .fa-arrow-right {
      margin-left: auto;
      color: grey;
      font-size: 1.5em;
    }


/*===========*/
/*PRIVATE CHAT*/
/*===========*/
.private_chat {
  text-align: center;
}
.private_chat ul {
  padding-top: 1em;
  margin-bottom: 6em;
}
  .private_chat-msg {
    width: 80%;
    padding: .1em;
    position: relative;
    border-radius: .4em;
  }
  .private_chat-msg:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-bottom: 0;
    margin-left: -5px;
    margin-bottom: -10px;
  }
  .private_chat-msg--own {
    background-color: #80e01f;
    margin: 1em 0 1em auto;
  }
  .private_chat-msg--own:after {
    left: 90%;
    border-right: 0;
    border-top-color: #80e01f;
  }
  .private_chat-msg--friend {
    background-color: white;
    margin: 1em auto 1em 0;
  }
  .private_chat-msg--friend:after {
    border-top-color: white;
    border-left: 0;
    left: 10%;

  }
  /*message*/
  .private_chat li p {
    font-family: initial;
    font-size: .9em;
  }
  /*timestamp*/
  .private_chat li h6 {
    margin: 0;
    text-align: right;
    color: dimgrey;
    padding-right: 1em;
  }
.private_chat-editor {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4em;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #96B9FF;
}
  .private_chat-editor textarea {
    width: 70%;
    border: 2px solid var(--blue-color);
    border-radius: 1em;
    resize: none;
    text-align: center;
    padding: .2em;
  }
  .private_chat-editor button {
    border: none;
    background-color: var(--blue-color);
    border-radius: 50%;
    margin: .3em;
  }
    .private_chat-editor button i {
      color: white;
      vertical-align: middle;
      font-size: 1.5em;
      padding: .2em;
    }


@media screen and (min-width: 768px){
  :root {
    --nav-main-height: 70px;
    --nav-main-elems-height: 55px;
  }
  .container-margin {
    width: 85%;
  }
  .container-padding {
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
  .welcome {
    font-size: 1.8em;
  }
  .welcome .social_logo-img {
    width: 30%;
  }
  .form-field-input {
    width: 40%;
  }
  .form-submit_btn img {
    height: 100px;
  }
  .nav-social_title {
    display: inline;
  }
  .nav-search input {
    width: 220px;
    height: 2.5em
  }
  .nav-search button {
    height: 2.5em;
    width: 2.5em;
  }
  .nav-sub {
    position: fixed;
    flex-direction: column;
    height: calc(100% - var(--nav-main-height));
    width: var(--nav-main-height);
  }
  .main-content {
    margin-top: var(--nav-main-height);
    margin-left: var(--nav-main-height);
  }
  .post {
    flex: 1 25%;
    margin: 4%;
  }
}

@media screen and (min-width: 1024px){
  .container-margin {
    width: 75%;
  }
  .container-padding {
    padding-left: 12.5%;
    padding-right: 12.5%;
  }
  .welcome {
    text-align: center;
    font-size: 2.2em;
  }
  .welcome div.social_logo {
    display: inline;
  }
  .welcome img.social_logo-img {
    display: inline;
    vertical-align: bottom;
  }
  .welcome-title {
    display: inline-block;
  }
  .form-field-input {
    font-size: .6em;
  }
  .post {
    flex: 1 20%;
    margin: 2%;
  }
}
